#navContact{ /*Navigation higlight*/
  font-weight: 900 !important;
  color: aquamarine !important;
}

#mainContact{
  float: right;
  color: #fff;
  width: 85%;
  height: 100vh;
  font-weight: 600;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact{
  width: 900px;
  height: 500px; 
  border: 7px solid #454545;
  background-color: #fff;
  float: center;
  color: #333;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-60% , -50%);
}
