#navExperience{ /*Navigation higlight*/
  font-weight: 900 !important;
  color: #ffcf88 !important;
}

body{
  background-color: #f1efe2;
}

#experience{
  display: flex;
  justify-content: center;/*horizontal*/
  align-items: center;/*vertical*/
  float: right;
  padding: 20px;
  color: #000;
  width: 85%;
  min-height: 100vh;
}

.box{
  float: left;
  width: 100%;
  height: 100%;
  border: 3px solid #333;
  background-color: #fff;
  padding: 0 20px;
}

#experience ul{
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 900px;
}

#experience li{
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  height: 300px;
  text-align: left;
  border: solid 1px  #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#experience h2{
  font-size: 18px;
}

#experience p{
  font-size: 16px;
}