#navProfile{ /*Navigation higlight*/
  font-weight: 900 !important;
  color: aquamarine !important;
}

#mainProfile{
  float: left;
  clear: right;
  color: #fff;
  font-weight: 600;
  background-color: green;
}
