:root {
  --hobbyBoxWidth: 220px;/*Edit @media value manually for Width & Margin.*/
  --hobbyBoxHeight: 75px;
  --hobbyBoxMargin: 15px;
  --profileBackgroundColor: #f1efe2;
  --hobbiesBackgroundColor: #f1efe2;
}

#navProfile{ /*Navigation higlight*/
  font-weight: 900 !important;
  color: #ffcf88 !important;
}

#fullScreen{
  float: right;
  width: 85%;
  height: 100vh;
  color: #000;
}

#profile{
  display: flex;
  justify-content: center;/*horizontal*/
  align-items: center;/*vertical*/
  min-height: 50%;
  padding: 30px 20px;
  border-bottom: 3px solid #333;
  background-color: var(--profileBackgroundColor);
}

#profileContent{
  background-color: #e9e8d0;
  padding: 10px;
  border: solid 1px  #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#profilePicture{
  float: left;
  max-width: 30%;
  height: 30%;
  max-height: 250px;
  border-radius: 50%;
  margin: 0 20px 0 0;
  border: 2px #333 solid;
  box-sizing: border-box;
}

#profileRegularText{
  margin: 0;
  font-size: 14px;
  max-width: 800px;
}

.title{
  margin: 0 0 10px 0;
  font-weight: 900;
  font-size: 26px;
}

#hobbies{
  display: flex;
  justify-content: center;/*horizontal*/
  align-items: center;/*vertical*/
  min-height: 50%;
  padding: 30px 0px;
  background-color: var(--hobbiesBackgroundColor);
}

#hobbiesTitle{
  margin-left: var(--hobbyBoxMargin);
}

#hobbies ul{
  max-width: calc((var(--hobbyBoxWidth) * 3) + (var(--hobbyBoxMargin) * 4));
  margin: 0;
  padding: var(--hobbyBoxMargin) 0 0 var(--hobbyBoxMargin);
  text-align: center;
}

#hobbies ul li{
  display: inline-block;
  box-sizing: border-box;
  width: var(--hobbyBoxWidth);
  height: var(--hobbyBoxHeight);
  margin: 0 var(--hobbyBoxMargin) var(--hobbyBoxMargin) 0;
  background-color: #e9e8d0;
  border: solid 1px  #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  list-style: none;
  text-align: left;
  overflow: hidden;
  border-radius: 20px;
}

.hobbyListItem{
  float: left;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  height: 100%;
  width: 100%;
}

.itemPicture{
  float: left;
  height: 100%;
}

.hobbyListItem p{
  float: left;
  padding: 0;
  margin: 0 0 0 15px;
  font-size: 18px;
}

@media only screen and (max-width: calc(15vw + 22px + (15px * 4) + (220px * 3))) {/*Edit number when changing boxWidth variable*/
  #hobbiesTitle{
    margin-left: calc(50% - (var(--hobbyBoxWidth) + 12.5px));
  }
}

@media only screen and (max-width: calc(15vw + 22px + (15px * 4) + (220px * 2))) {/*Edit number when changing boxWidth variable*/
  #hobbiesTitle{
    margin-left: calc(50% - (var(--hobbyBoxWidth) / 2));
  }
}

