#navSkills{ /*Navigation higlight*/
  font-weight: 900 !important;
  color: aquamarine !important;
}

#skills{ /*Screen minus navigation*/
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 85%;
  color: #000;
  background-color: lightslategray
}

.box{
  float: left;
  width: 32%;
  min-height: 95vh;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border: #000 solid 3px;
}

#codingBox{
  margin: 0 calc(0.9%);
}

.boxTitle{
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}

.boxlineDecoration{
  width: 20vw;
  margin: 0 auto;
  border: #333 solid 1px;
}

.box ul{
  padding: 0 10%;
  font-size: 16px;
}
